<div>
	<h4 class="settlement">Asentamientos</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Asentamientos'}).get('attributes'),function(a){%>
			<li  class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
</div>

<div>
	<h4 class="declaration">Declaración</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Declaración'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
	<h4 class="infrastructure">Infraestructuras</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Infraestructuras'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
</div>


<div>
	<h4 class="religion">Manifestaciónes religiosas</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Manifestaciónes religiosas'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
	<h4 class="normative">Normativa</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Normativa'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
</div>

<div>
	<h4 class="explotation">Sistema de explotación</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Sistema de explotación'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
	<h4 class="geograph">Referentes geográficos</h4>
	<ul>
		<%_.each(elements.findWhere({'grupo':'Referentes geográficos'}).get('attributes'),function(a){%>
			<li class="<%=a.enable ? 'active':''%>" column="<%=a.name_column%>"><%=a.description%></li>
		<%})%>
	</ul>
</div>
