<div class="mapbutton_wrapper attributes">
	<input class="mapbutton attributes" type="button" panel="attributes">
	<div class="info_mapbutton">
		VALORES ASOCIADOS
		<p class="mt5">Los paisajes no tienen un carácter único, observa aquí que otras propiedades poseen.</p>
	</div>
</div>
<div id="attributes">
	<h3>Valores asociados</h3>
	<div class="header_attributes">
		<span class="all">Seleccionar todos</span>
		<!-- <span class="info">Filtra los paisajes que contengan una o varias de estas características</span> -->
	</div>
	<div class="content"></div>
</div>