<div class="full_info credits">
	<div class="panel">
		<h3>Créditos</h3>
		<p class="mt20">Esta es una actividad divulgativa de ámbito académico que pretende dar a conocer entre la ciudadanía qué es un paisaje cultural, cuáles se han identificado en España y cuáles son sus principales características.</p>
		<p class="mt20">La actividad se desarrolla en el marco del Plan Nacional de Paisaje Cultural promovido por la Subdirección General del Instituto del Patrimonio Cultural de España y cuenta con financiación de la Fundación Española para la Ciencia y la Tecnología FECYT.</p>
		<p class="mt20">Los trabajos de investigación y comisariado han sido realizados por el Grupo de Investigación Paisaje Cultural de la E.T.S. de Arquitectura de la Universidad Politécnica de Madrid (GIPC-UPM). Toman como punto de partida la muestra representativa de 100 Paisajes Culturales de España seleccionada por el Plan Nacional de Paisaje Cultural.</p>
		<p class="mt20 text_bold">PATROCINADORES:</p>
		<p>
			<span class="uppercase text_bold">SUBDIRECCIÓN GENERAL DEL INSTITUTO DEL PATRIMONIO CULTURAL DE ESPAÑA</span>
			Ministerio de Educación, Cultura y Deporte
			Plan Nacional de Paisaje Cultural
		</p>
		<p>
			<span class="uppercase text_bold">FECYT − FUNDACIÓN ESPAÑOLA PARA LA CIENCIA Y LA TECNOLOGÍA</span>
			Convocatoria 2015 de Ayudas para el fomento de la cultura científica, tecnológica y de la innovación
			Proyecto: FCT-15-9585
		</p>
		<p>
			<span class="uppercase text_bold">UNIVERSIDAD POLITÉCNICA DE MADRID</span>
			Escuela Técnica Superior de Arquitectura
		</p>
		<p class="mt20 text_bold">COMISARIADO:</p>

		<p>
			<span class="uppercase text_bold">GRUPO DE INVESTIGACIÓN PAISAJE CULTURAL</span>
			Escuela Técnica Superior de Arquitectura
			Universidad Politécnica de Madrid
			<a target="_blank" href="http://www.gipc.es">www.gipc.es</a>
		</p>
		<p>
			<span class="uppercase text_bold">PLAN NACIONAL DE PAISAJE CULTURAL</span>
			Subdirección General del Instituto del Patrimonio Cultural de España
			Ministerio de Educación, Cultura y Deporte
		</p>
		<p class="ministry">
			<a class="fleft" target="_blank" href="http://www.mecd.gob.es/"><img src="/img/logo-ministerio.jpg"></a>
			<a target="_blank" href="http://ipce.mcu.es/conservacion/planesnacionales/paisajes.html"><img src="/img/LOGO-PNPC.png"></a>
		</p>
		<a class="ml40" target="_blank" href="http://www.mineco.gob.es"><img src="/img/logo-ministerio-fecyt.png"></a>
		<a class="ml30" target="_blank" href="http://www.gipc.es"><img class="mt20" src="/img/Logo-GIPC-UPM.png"></a>
	</div>
	<div class="panel">
		<div class="close"></div>
		<div class="attributes">
			<p class="text_bold">AGADACIMIENTOS:</p>
			<p class="mt20">
				El equipo desea agradecer a todos aquellos autores de textos, fotografías, vídeos u otro material que con su desinteresada contribución han permitido la realización de esta actividad.
			</p>
			<p class="mt20 text_bold">DESARROLLO Y DATA SCIENCE:</p>
			<p class="mt20">
				<span class="uppercase text_bold">GEOGRAPHICA</span><br>
				Entusiastas de los datos espaciales, el diseño y el software libre.
			</p>
			<p class="mt20">
				<a target="_blank" href="https://geographica.gs"><img src="/img/logo-geographica.png"></a>
				<a class="ml20" target="_blank" href="https://carto.com"><img src="/img/logo-CARTO.png"></a>
			</p>
			<div class="separator mt20"></div>
			<p class="mt20">
				<span class="uppercase text_bold">INVESTIGACIÓN</span><br>
				Francisco Arques
				Rodrigo de la O
				Nicolás Mariné
				David Escudero
			</p>
			<p class="mt20">
				<span class="uppercase text_bold">DIRECCIÓN GIPC-UPM</span><br>
				Juan Miguel Hernández León
			</p>
			<p class="mt20">
				<span class="uppercase text_bold">COORDINACIÓN CIENTÍFICA IPCE</span><br>
				Mª Linarejos Cruz
			</p>
			<p class="mt20">
				<span class="uppercase text_bold">COMITÉ CIENTÍFICO</span><br>
				Javier Ruiz Sánchez
				Jorge Bernabeu
				Concha Lapayese
				Ana Belén Berrocal
				Marian Leboreiro
				Manuel Gazapo
			</p>
			<p class="mt20">
				<span class="uppercase text_bold">BECARIOS DE INVESTIGACIÓN</span><br>
				Sofía Romeo
				Zhang Yingle
				Lucia Sayans
			</p>
			<p class="mt20">
				<span class="uppercase text_bold">COLABORADORES</span><br>
				Silvia Ayala
				Szilvia Tari
			</p>
		</div>
	</div>
</div>