<div id="info_landScape" class="{{cat_color}}">
	<a href="#close" class="cartodb-popup-close-button close"></a>
	<div class="interactive">
		<div class="image" style="background-image: url('/img/gallery/thumbnail/{{cartodb_id}}.jpg');"></div>
		<div class="info">
			<h3>{{nombre}}</h3>
			<div class="separator"></div>
			<h3>{{provincia}}</h3>

			{{#modo_narrativo}}
			  <span class="{{modo_narrativo}}">Ir a historia</span>
			{{/modo_narrativo}}
			{{^modo_narrativo}}
			  <img src="/img/GIPC-flecha-2.svg">
			{{/modo_narrativo}}

		</div>
		{{#modo_narrativo}}
			<a class="navigate hide" href="{{modo_narrativo}}/{{cartodb_id}}">
		{{/modo_narrativo}}
	</div>
</div>
