<div id="intro">
	<div>
		<h1>Narrando paisajes</h1>
		<p>
			100 paisajes culturales de España.<br><br>
			Los paisajes culturales forman parte de nuestro patrimonio histórico. Son resultado de algunas de las interacciones más extraordinarias entre las personas y el medio natural. Con esta plataforma podrás descubrir una selección de 100 paisajes culturales de España.
		</p>
		<a href="#">Comenzar a navegar</a>
		<!-- <a class="choose" href="#">Elige los paisajes a mostrar</a> -->
	</div>
</div>
