<input class="mapbutton linear_system" type="button" panel="linear_system">
<div id="linear_system" class="panel">
	<h3>Vías y caminos</h3>
	<div class="systems">
		<!-- <div class="header"> -->
			<!-- <span class="label">Proximidad de paisajes</span>
			<div class="dropdown proximity">
				<span>Ninguna</span>
				<ul>
					<li prox="0">Ninguna</li>
					<li prox="20">20 Km</li>
					<li prox="40">40 km</li>
				</ul>
			</div> -->
		<!-- </div> -->
		<div class="content"></div>
	</div>
</div>

<div id="linear_system_popup">
	<img class="close" src="/img/GIPC-cerrar.svg">
	<h3 class="type"></h3>
	<h4 class="road"></h4>
	<h4 class="longitude"></h4>
	<div class="area">
		<h5>Área de influencia</h5>
		<a class="active" href="#">Desactivada</a>
		<a buffer="buffer_20" href="#">20 Km</a>
		<a buffer="buffer_40" href="#">40 Km</a>
	</div>
</div>