
<ul>
	<%_.each(types,function(t){%>
		<li class="type">
			<div class="check"></div>
			<span><%=t.tipo%></span>
			<%if(t.caminos.length > 0){%>
				<img src="/img/GIPC-flecha-select.svg">
			<%}else{%>
				<div type="<%=t.tipo%>" class="selector"></div>
			<%}%>
			<ul>
				<%_.each(t.caminos,function(c){%>
					<%if(c.camino){%>
						<li class="road">
							<div class="check"></div>
							<span><%=c.camino%></span>
							<div road="<%=c.camino%>" type="<%=t.tipo%>" class="selector"></div>
						</li>
					<%}%>
				<%})%>
			</ul>
		</li>
	<%})%>
</ul>