<div class="mapbutton_wrapper linear_system">
	<input class="mapbutton linear_system" type="button" panel="linear_system">
	<div class="info_mapbutton">
		ESTRUCTURAS PENINSULARES
		<p class="mt5">Añade distintas capas al mapa principal y busca tus propias relaciones.</p>
	</div>
</div>

<div id="linear_system" class="panel">
	<h3>Sistemas lineales</h3>
	<div class="systems">
		<div class="content"></div>
	</div>
</div>

<div id="linear_system_popup">
	<img class="close" src="/img/GIPC-cerrar.svg">
	<h3 class="type"></h3>
	<h4 class="road"></h4>
	<h4 class="longitude"></h4>
	<div class="area">
		<h5>Área de influencia</h5>
		<a class="active" href="#">Desactivada</a>
		<a buffer="buffer_20" href="#">20 Km</a>
		<a buffer="buffer_40" href="#">40 Km</a>
	</div>
</div>