<div class="mapbutton_wrapper natural">
	<input class="mapbutton natural" type="button" panel="natural_spaces">
	<div class="info_mapbutton">
		ESTRUCTURAS PENINSULARES
		<p class="mt5">Añade distintas capas al mapa principal y busca tus propias relaciones.</p>
	</div>
</div>

<div id="natural_spaces">
	<h3>Espacios Naturales Protegidos</h3>
	<div class="spaces">
		<div class="header_natural">
			<span class="all unselect">Seleccionar todos</span>
		</div>
		<div class="content">
			<ul>
				<%_.each(spaces,function(s){%>
					<li><%=s.title%></li>
				<%})%>
			</ul>
		</div>
	</div>
</div>