<div class="intro">
	<div class="wrapper">
		<div class="title">
			<h1><%=m.nombre%></h1>
			<h2><%=m.provincia%></h2>
			<h3><%=m.local_punt%></h3>
			<button class="next"></button>
		</div>
		<div class="description go_right">
			<h4><%=m.nombre%></h4>
			<p><%=m.descripcio%></p>
			<div class="buttons">
				<button class="back"></button>
				<button class="next"></button>	
			</div>
		</div>
	</div>
</div>

<div class="map_content">
	<div class="map_title">
		<h2><%=m.nombre%></h2>
		<span>Selecciona un punto para ver la información</span>
	</div>
	<button class="info_button"></button>
</div>

<div class="media"></div>