<%
	var App = require('../App')
%>
<div class="full_info">
	<div class="panel">
		<h3>Bibliografía</h3>
		<p class="break_word"><%=m.bibliograf%></p>
	</div>
	<div class="panel">
		<div class="close"></div>
		<div class="attributes">
			<%if(thumbnail){%>
				<div class="thumbnail" style="background-image: url('/img/gallery/<%=m.id%>.jpg')"></div>
			<%}%>
			<h3>Valores asociados</h3>
			<%_.each(filters,function(f){%>
				<!-- <h6 class="filter <%=App.getClassByFilter(f.grupo)%>"><%=f.grupo%></h6> -->
				<h6 class="filter <%=App.getClassByFilter(f.name_column)%>"><%=f.description%></h6>
				<!-- <ul> -->
					<%_.each(f.attributes,function(a){%>
					<!-- <li><%=a.description%></li> -->
					<%})%>
				<!-- </ul> -->
			<%})%>
		</div>
	</div>
</div>