<div class="info">
	<div class="image"></div>
	<div class="content">
		<div class="column">
			<h5>Paisajes Agrícolas, Ganaderos y Forestales</h5>
			<h3>Viñedos de Montilla Moriles</h3>
			<h4>Córdoba</h4>
			<span class="centroid">Conjunto arqueológico de Torreparedones</span>
			<p>
				En esta zona de la campiña las cotas oscilan entre los 200 y los 600 m, ofreciendo un perfil ondulado de fácil cultivo donde además del viñedo persisten, como en toda la campiña de Córdoba, los olivares y cultivos herbáceos en régimen de secano.De este modo, este ámbito fuertemente antropizado no ha dejado lugar a la vegetación natural, que estaría dominada por encinares mediterráneos.
			</p>
			<div class="separator"></div>
			<div class="attributes">
				<h6>Asentamiento</h6>
				<ul>
					<li>Rural activo</li>
					<li>Urbano activo</li>
					<li>Arquitectura tradiciona</li>
					<li>Vestigios</li>
					<li>Celtas</li>
					<li>Vestigios romanos</li>
				</ul>
				<div class="separator"></div>
				<h6>Infraestructuras</h6>
				<ul>
					<li>De aprovechamiento eólico</li>
				</ul>
			</div>
		</div>
		<div class="column">
			<div class="location_image"></div>
			<h6>Localización</h6>
			<span class="location">Latitud 36.00 - Longitud -5.58</span>
			<div class="separator"></div>
			<div class="biography">
				<h6>Bibliografía</h6>
				<p>
					En esta zona de la campiña las cotas oscilan entre los 200 y los 600 m, ofreciendo un perfil ondulado de fácil cultivo donde además del viñedo persisten, como en toda la campiña de Córdoba, los olivares y cultivos herbáceos en régimen de secano.De este modo, este ámbito fuertemente antropizado no ha dejado lugar a la vegetación natural, que estaría dominada por encinares mediterráneos.
				</p>
			</div>
		</div>
	</div>
</div>