<%
	var App = require('../App')
%>

<div class="info <%=m.cat_color%>">
	<button class="close"></button>
	<div class="image" style="background-image: url('/img/gallery/<%=m.id%>.jpg');"></div>
	<div class="content">
		<div class="column">
			<!-- <h5><%=m.cat_ipce%></h5> -->
			<h3><%=m.nombre%></h3>
			<h4><%=m.provincia%></h4>
			<span class="centroid"><%=m.local_punt%></span>
			<p><%=m.descripcio%></p>
			<div class="separator"></div>
			<div class="attributes">
				<h6>Valores asociados</h6>

				<%_.each(filters,function(f){%>
					<!-- <h6 class="filter <%=App.getClassByFilter(f.grupo)%>"><%=f.grupo%></h6> -->
					<h6 class="filter dark <%=App.getClassByFilter(f.name_column)%>"><%=f.description%></h6>
					<!-- <ul> -->
						<%_.each(f.attributes,function(a){%>
						<!-- <li><%=a.description%></li> -->
						<%})%>
					<!-- </ul> -->
					<!-- <div class="separator"></div> -->
				<%})%>


			</div>
		</div>
		<div class="column">
			<div class="location_image"></div>
			<h6>Localización</h6>
			<span class="location">Latitud <%=Math.floor(m.lat * 100) / 100%> - Longitud <%=Math.floor(m.lng * 100) / 100%></span>
			<div class="separator"></div>
			<div class="biography">
				<h6>Bibliografía</h6>
				<p class="break_word"><%=m.bibliograf%></p>
			</div>
		</div>
	</div>
</div>