@keyframes pulse {
  from { stroke-width: 0; stroke-opacity: 0.8; }
  to { stroke-width: 50; stroke-opacity: 0; }
}

.outstanding_map{
  animation: pulse 1.5s linear;
  animation-iteration-count: infinite;
}

#map{
	flex: 1 1 100%;
  .logo{
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 20px;
  }
  .leaflet-control-attribution,.cartodb-logo,.leaflet-bottom.leaflet-left,.map_selector{
    opacity: 0;
    transition:opacity .25s linear;
  }

  &.active{
    .leaflet-control-attribution,.cartodb-logo,.leaflet-bottom.leaflet-left,.map_selector{
      opacity: 1;
    }
  }

  .leaflet-bottom.leaflet-left{
    bottom: -20px;
  }
  .cartodb-logo{
    left: 90px !important;
    bottom: 7px !important;
  }
  .map_selector{

    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 64px;
    a{
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 24px;
    }
    .peninsula{
      background-image: url('/img/GIPC-vista-peninsula.png');
      margin-bottom: 6px;
      height: 34px;
      border-bottom: 1px solid @black_light;
    }
    .canary{
      background-image: url('/img/GIPC-vista-canarias.png');
    }
  }
  .articles_link{
    position: absolute;
    z-index: 1;
    top: 22px;
    // top: 34px;
    right: 166px;
    font-size: 16px;
    color:@grey;
    background-color: rgba(36,36,38,.8);
    height: 50px;
    border-radius: 16px;
    display: flex;
    align-items:center;
    padding-left: 10px;
    padding-right: 20px;
    transform: translateY(-200px);
    transition: transform .25s;
    &.enable{
      transform: translateY(0);
    }
    &:before{
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url(/img/GIPC-boton-articulos.svg);
      background-size: cover;
      margin-right: 10px;
    }
  }
}

input[type=button].mapbutton{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: @black_light;
  background-repeat: no-repeat;
  background-position: center;
  // transition: background-color .25s;
  outline: none;
  &.active{
    background-color: @grey;
  }
    
  position: absolute;
  z-index: 2;
  transform: translateX(calc(100% + 70px));
  transition:transform .25s;
  z-index: 1001;
  
	&.attributes{
		top: 50%;
		right: 45px;
		background-image: url('/img/GIPC-boton-paisajes.svg');
    &.enable{
      transform: translateX(0);
    }
		&.active{
	    background-image: url('/img/GIPC-boton-paisajes-2.svg');
	  }
    &.filter{
      background-image: url('/img/GIPC-boton-paisajes-3.svg');
      background-color: @grey;
    }
	}

  &.territorial, &.natural, &.linear_system{
    background-size: 32px;
    width: 50px;
    height: 50px;
    top:22px;
    transform: translateX(200px);
    &.enable{
      transform: translateY(0);
    }
  }

  &.territorial, &.linear_system{
    border-radius: 16px;
  }    

  &.territorial{
    top: 22px;
    right: 35px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-image: url('/img/GIPC-boton-territorial.svg');
    &.active{
      background-image: url('/img/GIPC-boton-territorial-2.svg');
    }
  }

  &.natural{
    right: 35px;
    background-image: url('/img/GIPC-boton-entorno.svg');
    border-radius: 0;
    border-left: 2px solid @black;
    // border-right: 2px solid @black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    &.active{
      background-image: url('/img/GIPC-boton-entorno-2.svg');
    }
  }

  &.linear_system{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    right: 85px;
    background-image: url('/img/GIPC-boton-lineales.svg');
    &.active{
      background-image: url('/img/GIPC-boton-lineales-2.svg');
    }
  }
}

